{%load static %}

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" style="padding-left:60px">
                <div class="single-footer-widget">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>262, Lane No. 4, Westend <br>
                            Marg, Saket, Delhi - 110030
                            <br>
                            <a href="mailto:info@road-safety.co.in">info@road-safety.co.in</a>        
                        </li>
                        <h6>Contact Us</h6>
        
                        <li>   For collaborations
                            <br>
                            999999999,999999999
                        </li>

                        <li>For meida inquiries
                            <br>1234567890
                        </li>
                    </ul>								
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6" style="padding-left:80px">
                <div class="single-footer-widget">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="www.missionroadsafety.com"><img src="{% static '/img/footer-icon.png' %}" width="200px"></a></li>
                        <li>A portal for road accident data</li>
                        <li><a href="www.missionroadsafety.com"></a>www.missionroadsafety.com</li>
                        
                    </ul>								
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6" style="margin-left:150px">
                <div class="single-footer-widget">
                    <h4>Important Links</h4>
                    <ul>
                        <li><a href="#">iSAFE</a></li>
                        <li><a href="#">Good Samaritan | MoRTH</a></li>
                        <li><a href="#">Driving Licence Test</a></li>
                        <li><a href="#">Important Resources</a></li>
                        <li><a href="#">Policy Portal Login</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>								
                </div>
            </div>
                                                        
        </div>
        <div class="footer-bottom row align-items-center justify-content-between">

            <div class="col-lg-6 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                
            </div>
        </div>						
    </div>
</footer>