{% load static %}

<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>			
                </div>
                <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
                    <a href="tel:18004197779"><span class="lnr lnr-phone-handset"></span> <span class="text" style="
                        margin-left: -137px;
                        padding-right: 266px;
                    ">Roadside Assistance Toll Free Number : 1800 419 7779</span></a>
                    <a href="#"><span class="lnr lnr-envelope"></span> <span class="text">Login</span></a>			
                    <a href="#"><span class="lnr lnr-envelope"></span> <span class="text">Register</span></a>
                </div>
            </div>			  					
        </div>
  </div>
  <div class="container main-menu">
      <div class="row align-items-center d-flex">
        <div id="logo">
          <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" style="
            margin-left: 150px;
            align-self: center;

            width: 40%;
            position: relative;
            top: -15px;

        " alt="" title="" /></a>
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Packages</a></li>
            <li class="menu-has-children"><a href="#">Services</a>
                <ul>
                  <li><a href="{% url 'oncall' %}">Oncall Services</a></li>
                  <li><a href="{% url 'membership' %}">Packages</a></li>
                </ul>
            <li><a href="#">iSAFE</a></li>		          		          
            <li><a href="#">FAQS</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->		    		
      </div>
  </div>
</header><!-- #header -->