{% load static %}

<!DOCTYPE html>
<html>
<head>
        <head>
                
                <title>iSafe Assist</title>
        
                <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
                    <!--
                    CSS
                    ============================================= -->
                    <link rel="stylesheet" href="{% static '/css/linearicons.css' %}">
                    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
                    <link rel="stylesheet" href="{% static '/css/magnific-popup.css' %}">
                    <link rel="stylesheet" href="{% static '/css/nice-select.css' %}">							
                    <link rel="stylesheet" href="{% static '/css/animate.min.css' %}">
                    <link rel="stylesheet" href="{% static '/css/owl.carousel.css' %}">			
                    <link rel="stylesheet" href="{% static '/css/jquery-ui.css' %}">			
                    <link rel="stylesheet" href="{% static '/css/main.css' %}">
                </head>

</head>
<body>
        {% include 'partials/_topbar.html' %}

        {% block content %}

        {% endblock %}

        {% include 'partials/_footer.html' %}

        <script src="{% static '/js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static '/js/vendor/bootstrap.min.js' %}"></script>			
        <script src="{% static '/js/easing.min.js' %}"></script>			
        <script src="{% static '/js/hoverIntent.js' %}"></script>
        <script src="{% static '/js/superfish.min.js' %}"></script>	
        <script src="{% static '/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>	
        <script src="{% static '/js/jquery.tabs.min.js' %}"></script>						
        <script src="{% static '/js/jquery.nice-select.min.js' %}"></script>	
        <script src="{% static '/js/owl.carousel.min.js' %}"></script>									
        <script src="{% static '/js/mail-script.js' %}"></script>	
        <script src="{% static '/js/main.js' %}"></script>
</body>
</html>