{%extends 'base.html' %}
{% block content %}
{% include 'partials/_alerts.html' %}
<section class="form-area">
    <div class="container align-items-center" style="margin-left: 280px;
    width: 100%;">
        <h2 style="color: #006666;">iSAFE Assist Car Membership</h3>
        All we need are a few details to help you in times of your need!
    </div>	
</section>

<section class="form">
<div class="container align-items-center form-box" ">
    <h3 style="color:#888888;text-align: center; padding: 20px">Customer Information</h4>
<form id="car" method="POST" action="{% url 'carForm' %}">
    {% csrf_token %}
    <input type="text" name="f_name" placeholder="First Name">
    <input type="text" name="l_name" placeholder="Last Name">
    <input type="email" name="email" placeholder="Email">
    <input type="number" name="mob" placeholder="Mobile Number" required>
    <input type="text" name="add" placeholder="Address (Line 1)">
    <input type="text" name="landmark" placeholder="Landmark">
    <input type="text" name="city" placeholder="City">
    <select name="state" class="form-control">
            <option selected="true" disabled="disabled">State (All)</option>
            <option value="ASSM">Assam</option>
            <option value="DEL">Delhi</option>
            <option value="HR">Haryana</option>
            <option value="MAN">Manipur</option>
            <option value="PUN">Punjab</option>
            <option value="RAJ">Rajasthan</option>
    </select>
    <input type="number" name="postal" placeholder="Postal Code" required   >
    <input type="text" name="country" value="India" disabled>

    <h3 style="color:#888888;text-align: center; padding: 20px">Vehicle Information</h4>
        <select name="carr" class="form-control">
                <option selected="true" disabled="disabled">Bike</option>
                <option value="AC">Acent</option>
                <option value="POL">Polo</option>
                <option value="SW">Swift</option>
                <option value="WR">WagonR</option>
                
        </select>
    <input type="text" name="make" placeholder="Make">
    <input type="text" name="model" placeholder="Model">
    <select name="year" class="form-control" required>
            <option selected="true" disabled="disabled">Year</option>
            <option value="2000">2000</option>
            <option value="2001">2001</option>
            <option value="2002">2002</option>
            <option value="2003">2003</option>
            <option value="2004">2004</option>
            <option value="2005">2005</option>
    </select>
    <input type="text" name="reg_no" placeholder="Registration Number">
    <input type="text" name="insr_cmpny" placeholder="Insurance Company" required>
    <input type="date" name="insr_expt" placeholder="Insurance Expiry" required>
    
    <input type="checkbox" name="terms" required style="width:50px">
    <label for="terms"> I accept the <a href="">Terms & Conditions.</a>
    </label>
    <br><input type="submit" name="submit" style="align-self:center;    margin-left: 498px;
    width: 97px;">

</form>
</div>
</section>

{% endblock %}