{% extends 'base.html' %}
{% load static%}
{% block content %}

<section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>	
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-between" style="height: 500px">
                <div class="banner-content col-lg-9 col-md-12">
                        <div id="owl-demo" class="owl-carousel owl-theme" style="
                        align-self: center;
                        margin-left: 117px;
                    ">

                                <div class="item"><img src="{% static '/img/slider1.png'%} " alt="The Last of us"></div>
                                <div class="item"><img src="{% static '/img/slider1.png'%}" alt="GTA V"></div>
                                <div class="item"><img src="{% static 'img/slider1.png'%}" alt="Mirror Edge" style="width:100%"></div>
                               
                              </div>
                </div>										
            </div>
        </div>					
    </section>
    <!-- End banner Area -->
    


    <!-- Start feature Area -->
    <section class="feature-area">
        <div class="container align-items-center" >
            <img src="{% static '/img/home2.png'%}" style="
            margin-left: 125px;
            margin-top: -74px;
        ">
        </div>	
    </section>
    
    <section class="feature-area">
            <div class="container align-items-center" >
                <img src="{% static 'img/home3.png'%}" style="
                margin-top: 100px;
            ">
            </div>	
        </section>

        <section class="feature-area">
                <div class="container align-items-center" >
                    <img src="{% static '/img/home4.png'%}" style="
                margin-top: 100px;
                ">
                </div>	
            </section>

        
            <section class="feature-area">
                    <div class="container align-items-center " >
                        <img src="{% static '/img/home5.png'%}" style="
                        margin-top: 100px;
                         ">
                    </div>	
                </section>

    <section class=" services-area section-gap">
        <div class="container align-items-center">
            <h3>Roadside Assistance Service</h3>
            <div class="row" style="padding-top:20px;margin-left: 175px">
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-image" src="{% static '/img/telephone.jpeg'%}" style="width: 350px;height:200px;filter: brightness(50%);">
                    <div class="card-img-overlay">
                            
                        <h5 class="card-title">On Call Services</h5>
                        <p class="card-text">Starting from Rs 500 only.</p>
                        <a href="{% url 'oncall' %}" class="btn btn-primary">KNOW MORE</a>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-left:50px">
                    <div class="card bg-dark text-white">
                        <img class="card-image" src="{% static '/img/cars.jpeg'%}" style="width: 350px;height:200px;filter: brightness(50%);">
                    <div class="card-img-overlay">
                            
                        <h5 class="card-title">Membership packages</h5>
                        <p class="card-text">Starting from Rs 240 only.</p>
                        <a href="{% url 'membership' %}" class="btn btn-primary">KNOW MORE</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>       
    </section>

    {% endblock %}