{% extends 'base.html' %}
{% load static%}
{% block content %}

<section class="feature-area">
        <div class="container align-items-center" >
            <img src="{% static '/img/membership1.png'%}" style="
            margin-top: 170px;margin-left:150px;
        ">
        </div>	
    </section>
    <section class=" oncall-area section-gap">
            <div class="container align-items-center">
                
                <div class="row" style="padding-top:20px;margin-left: 175px">
                    <div class="col-sm-4">
                        <div class="card bg-dark text-white">
                            <img class="card-image" src="{% static '/img/bike.jpeg'%}" style="width: 350px;height:200px;filter: brightness(50%);">
                        <div class="card-img-overlay">
                                
                            <h5 class="card-title">Bikes and Scooters</h5>
                            <p class="card-text">Rs 240 only*.</p>
                            <a href="{% url 'bikeForm' %}" class="btn btn-primary">KNOW MORE</a>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-left:50px">
                        <div class="card bg-dark text-white">
                            <img class="card-image" src="{% static '/img/cars membership.jpeg'%}" style="width: 350px;height:200px;filter: brightness(50%);">
                        <div class="card-img-overlay">
                                
                            <h5 class="card-title">Cars</h5>
                            <p class="card-text">Rs 720 only*.</p>
                            <a href="{% url 'carForm' %}" class="btn btn-primary">KNOW MORE</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>       
        </section>

{% endblock %}