{% extends 'base.html' %}
{% load static%}
{% block content %}

<section class="feature-area">
        <div class="container align-items-center" >
            <img src="{% static 'img/oncall1.png' %}" style="
            margin-top: 170px;margin-left:150px;
        ">
        </div>	
    </section>
    <section class=" oncall-area section-gap">
            <div class="container align-items-center">
                <h3>Roadside Assistance Service</h3>
                <div class="row" style="padding-top:20px;margin-left: 175px">
                    <div class="col-sm-4">
                        <div class="card bg-dark text-white">
                            <img class="card-image" src="{% static 'img/mechanic.jpeg' %}" style="width: 350px;height:200px;filter: brightness(50%);">
                        <div class="card-img-overlay">
                                
                            <h5 class="card-title">Call out Service</h5>
                            <p class="card-text">Rs 500 only.</p>
                            <a href="./oncall.html" class="btn btn-primary">KNOW MORE</a>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-left:50px">
                        <div class="card bg-dark text-white">
                            <img class="card-image" src="{% static 'img/towimage.jpeg' %}" style="width: 350px;height:200px;filter: brightness(50%);">
                        <div class="card-img-overlay">
                                
                            <h5 class="card-title">Towing upto 25KM</h5>
                            <p class="card-text">Rs 1200 only.</p>
                            <a href="./membership.html" class="btn btn-primary">KNOW MORE</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>       
        </section>

    {% endblock %}